@import "tailwindcss";
*{
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
input{
  background-color: rgb(8, 8, 8);
  border: none;
  border-radius: 5px;
  padding: 10px 14px;
}
textarea{
  background-color: rgb(8, 8, 8);
  border: none;
  border-radius: 5px;
  padding: 10px 14px;
  resize: none;
}
html{
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background: rgb(18, 10, 37);
}
::-webkit-scrollbar-thumb {
  background: #9810FA; 
}

::-webkit-scrollbar-thumb:hover {
  background: #9810facc; 
  cursor: pointer;
}


