@import "tailwindcss";

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}

body {
  background-color: #362b22; /* Dark brown */
  margin: 8px 0px;
  color: var(--text-primary);
}

/* Input / textarea */
input,
textarea {
  border-radius: 5px;
  padding: 10px 14px;
  background: var(--section-bg);
  color: var(--text-primary);
}
::placeholder{
  color: var(--text-primary);
}

textarea {
  resize: none;
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-hover);
  cursor: pointer;
}

/* Headings + text */
.heading-Inter {
  font-family: "Inter Tight", sans-serif;
}
.outlined-text {
  color: transparent;
  -webkit-text-stroke: 1px var(--text-accent);
}
/* index.css or global.css */
:root {
  --color-primary: #ffffff;
  --color-secondary: #f5dec8;
  --color-accent: #e6d5c3;
  --color-section: #0f0f0d;
  --color-bodybg: #362b22;
}

