@import "tailwindcss";
*{
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
html , body{
  overflow-x: hidden;
  
}
input{
  border-radius: 5px;
  padding: 10px 14px;
}
textarea{
  background-color: white;
  border-radius: 5px;
  padding: 10px 14px;
  resize: none;
}
html{
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  width: 12px;
}
::-webkit-scrollbar-track{
  background: #F6F6F6;
}
::-webkit-scrollbar-thumb {
  background: #0F0F0F; 
}

::-webkit-scrollbar-thumb:hover {
  background: #0F0F0F; 
  cursor: pointer;
}
.heading-Inter{
  font-family: "Inter Tight", sans-serif;
}
.outlined-text {
  color: transparent;
  -webkit-text-stroke: 1px black;
}
